.file{
    background-color: black;
    color:white;
    overflow:hidden;
    display:flex;
    padding: 5px;
    
    
    

}
img{
    width:200px;
    height: 200px;
}
progress{
    background-color: aqua;
    
}
p{
    
        padding-left:30px;
        padding-right:30px;
}
.aside{
    float:right;
    width:50%;
    margin-left:50%;
    display: inline-flex;
    
}
h1{
    text-align: center;
    text-decoration: underline;
}